@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

html {
   -webkit-tap-highlight-color: transparent;
}

:root {
    --font: 'Roboto Mono', monospace;
    --color: #6e6e6e;
}

* {
	box-sizing: border-box;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

popup:hover {
  background-color: black;
  transition-duration: 1s;
}

popuptext:hover {
  background-color: black;
  transition-duration: 1s;
  
}
/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}




.checkbox {
	opacity: 0;
	position: absolute;

	
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}

body{
    color: var(--color);
    font-family: var(--font)
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	transition: background 0.2s linear;

}



.container {
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: centre;
    text-align: center;
}

.content{
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.footer {
    text-align: center;
    font-size: 0.75rem;
    font-weight: 400;
    padding-bottom: 20px;
    background-color: #ffffff;
}

#userPhoto{
    width: 96px;
    height: 96px;
    display: block;
    margin: 35px auto 1px;
    border-radius: 50%;
    border: solid var(--color) 2px;
}

#userName{
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    line-height: 1.25;
    display: block;
    color: var(--color);
}

#links{
    max-width: 90%;
    width: auto;
    display: block;
    margin: 27px auto;
    background-color: transparent;
   
}

.link{
    display: block;
    margin-bottom: 20px;
    padding: 17px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    border: double var(--color) 2px;
    text-align: center;
    text-decoration: none;  
    color: #6e6e6e;  
    word-wrap: break-word;
    background-color: transparent;

}
a{
  color: black;
}

a:hover {
  
  background-color: black;
  transition-duration: 1s;
  
  button {
  outline: none;
}
 
 title:hover{
   background-color: #ffffff;
   transition-duration: 1s;
   
 }
 
}

footer {
 position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: #ffffff;
 
}
footer span1 {
  text-align: center;
  color: lime;
  font-size: 40px;
  height: 50px;
  font-family: 'Rancho', cursive;
  padding-right:10px;
}

footer span2 {
  color: #000000;
  float: center;
  font-size: 40px;
  text-align: centre;
  font-family: 'Caveat', cursive;
}
.title {
  font-size: 25px;
  font-family: 'Rancho', cursive;
  padding-bottom: 15px;
  
}

.title span {
  font-size: 10px;
}

  
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

body {
  font-family: Lato, sans-serif;
  --col-deepblue: orange;
}
a {
  color:#fff;
  text-decoration:none;
}
footer {
  width:100vw;
  position:fixed;
  bottom:0px
}
footer div {
  background-color: var(--col-deepblue);
  margin: -5px 0px 0px 0px;
  padding:0px;
  color: #fff;
  text-align:center;
}
svg {
  width:100%;
  overflow:visible;
}

.wave {
  animation: wave 3s linear;
  animation-iteration-count:infinite;
  fill: orange;
}
.drop {
  fill: var(--col-deepblue);
  xfill: #99000055;
  animation: drop 3.2s linear infinite normal;
  stroke: var(--col-deepblue);
  stroke-width:0.5;
  transform: translateY(25px) ;
  transform-box: fill-box;
  transform-origin: 50% 100%;
}
.drop1 {
  
}
.drop2 {
  animation-delay: 3s;
  animation-duration:3s;
}
.drop3 {
  animation-delay: -2s;
  animation-duration:3.4s;
}
.drop4 {
  animation-delay: 1.7s;
}
.drop5 {
  animation-delay: 2.7s;
  animation-duration:3.1s;
}
.drop6 {
  animation-delay: -2.1s;
  animation-duration:3.2s;
}
.gooeff {
    filter: url(#goo);
}
#wave2 {
  animation-duration:5s;
  animation-direction: reverse;
  opacity: .6
}
#wave3 {
  animation-duration: 7s;
  opacity:.3;
}
@keyframes drop {
  0% {
    transform: translateY(25px); 
  }
  30% {
    transform: translateY(-10px) scale(.1);
  }
  30.001% {
    transform: translateY(25px) scale(1); 
  }
  70% {
    transform: translateY(25px); 
  }
  100% { 
    transform: translateY(-10px) scale(.1);  
  }
}
@keyframes wave {
  to {transform: translateX(-100%);}
}




